html[data-theme="light"] {
  $tokens-color-light-base-white: #ffffff;
  $tokens-color-light-base-black: #000000;
  $tokens-color-light-gray-100: #f4f4f4;
  $tokens-color-light-gray-200: #f9f9f9;
  $tokens-color-light-gray-230: #eaeff3;
  $tokens-color-light-gray-240: #d9d9d9;
  $tokens-color-light-gray-250: #eeeeee;
  $tokens-color-light-gray-270: #e7e7e7;
  $tokens-color-light-gray-300: #bebebe;
  $tokens-color-light-gray-600: #7c7c7c;
  $tokens-color-light-gray-800: #595959;
  $tokens-color-light-red-600: #f26767;
  $tokens-color-light-red-800: #ef2d07;
  $tokens-color-light-blue-sky-100: #f0f3f6;
  $tokens-color-light-blue-sky-200: #f0f2f5;
  $tokens-color-light-blue-sky-250: #d8e0e9;
  $tokens-color-light-blue-sky-300: #d9dbe1;
  $tokens-color-light-blue-sky-400: #d6dbdf;
  $tokens-color-light-blue-sky-450: #a8b8dc;
  $tokens-color-light-blue-sky-500: #859ebb;
  $tokens-color-light-blue-sky-800: #5d606a;
  $tokens-color-light-blue-deep-100: #d8e1f2;
  $tokens-color-light-blue-deep-200: #9aacd6;
  $tokens-color-light-blue-deep-300: #6a7fde;
  $tokens-color-light-blue-deep-400: #6a73c2;
  $tokens-color-light-blue-deep-500: #434a6a;
  $tokens-color-light-blue-deep-600: #4a53a1;
  $tokens-color-light-blue-deep-800: #172178;
  $tokens-color-light-blue-200: #d8f0f1;
  $tokens-color-light-blue-500: #3f81d3;
  $tokens-color-light-green-200: #e5f5ed;
  $tokens-color-light-purple-300: #a7a1dd;
  $tokens-color-light-pastel-blue: #d8f0f1;
  $tokens-color-light-pastel-green: #e5f5ed;
  $tokens-color-light-pastel-red: #fce4e3;
}

html[data-theme="dark"] {
  $tokens-color-dark-base-white: #ffffff;
  $tokens-color-dark-base-black: #000000;
  $tokens-color-dark-gray-100: #f4f4f4;
  $tokens-color-dark-gray-200: #f9f9f9;
  $tokens-color-dark-gray-230: #eaeff3;
  $tokens-color-dark-gray-240: #d9d9d9;
  $tokens-color-dark-gray-250: #eeeeee;
  $tokens-color-dark-gray-270: #e7e7e7;
  $tokens-color-dark-gray-300: #bebebe;
  $tokens-color-dark-gray-600: #7c7c7c;
  $tokens-color-dark-gray-800: #595959;
  $tokens-color-dark-red-600: #f26767;
  $tokens-color-dark-red-800: #ef2d07;
  $tokens-color-dark-blue-sky-100: #f0f3f6;
  $tokens-color-dark-blue-sky-200: #f0f2f5;
  $tokens-color-dark-blue-sky-250: #d8e0e9;
  $tokens-color-dark-blue-sky-300: #d9dbe1;
  $tokens-color-dark-blue-sky-400: #d6dbdf;
  $tokens-color-dark-blue-sky-450: #a8b8dc;
  $tokens-color-dark-blue-sky-500: #859ebb;
  $tokens-color-dark-blue-sky-800: #5d606a;
  $tokens-color-dark-blue-deep-100: #d8e1f2;
  $tokens-color-dark-blue-deep-200: #9aacd6;
  $tokens-color-dark-blue-deep-300: #6a7fde;
  $tokens-color-dark-blue-deep-400: #6a73c2;
  $tokens-color-dark-blue-deep-500: #434a6a;
  $tokens-color-dark-blue-deep-600: #4a53a1;
  $tokens-color-dark-blue-deep-800: #172178;
  $tokens-color-dark-blue-200: #d8f0f1;
  $tokens-color-dark-blue-500: #3f81d3;
  $tokens-color-dark-green-200: #e5f5ed;
  $tokens-color-dark-purple-300: #a7a1dd;
  $tokens-color-dark-pastel-blue: #d8f0f1;
  $tokens-color-dark-pastel-green: #e5f5ed;
  $tokens-color-dark-pastel-red: #fce4e3;
}

$tokens-shadow-3: 3px 4px 3px 0 rgba(0,0,0,0.12);
$tokens-shadow-4: 3px 3px 4px 0 rgba(0,0,0,0.15);
$tokens-shadow-8: 0 4px 8px 3px $tokens-color-light-blue-deep-100;
$tokens-shadow-400: 5px 5px 60px 0 #00000033;
$tokens-font-family-pretendard: Pretendard;
$tokens-border-1: 1px;
$tokens-border-2: 2px;
$tokens-border-4: 4px;
$tokens-border-5: 5px;
$tokens-border-none: 0;
$tokens-font-thin: 100;
$tokens-font-extralight: 200;
$tokens-font-light: 300;
$tokens-font-normal: 400;
$tokens-font-medium: 500;
$tokens-font-semibold: 600;
$tokens-font-bold: 700;
$tokens-font-extrabold: 800;
$tokens-font-black: 900;
$tokens-text-xs: 13px;
$tokens-text-sm: 14px;
$tokens-text-base: 16px;
$tokens-text-md: 18px;
$tokens-text-lg: 20px;
$tokens-text-xl: 24px;
$tokens-text-2xl: 28px;
$tokens-text-3xl: 32px;
$tokens-text-4xl: 40px;
$tokens-text-5xl: 48px;
$tokens-text-6xl: 60px;
$tokens-rounded-none: 0;
$tokens-rounded-xs-4: 4px;
$tokens-rounded-sm-5: 5px;
$tokens-rounded-base-8: 8px;
$tokens-rounded-md-16: 16px;
$tokens-rounded-lg-32: 32px;
$tokens-rounded-full: 360px;
$tokens-rounded-base-10: 10px;
$tokens-space-1: 1px;
$tokens-space-2: 2px;
$tokens-space-4: 4px;
$tokens-space-5: 5px;
$tokens-space-8: 8px;
$tokens-space-10: 10px;
$tokens-space-12: 12px;
$tokens-space-14: 14px;
$tokens-space-16: 16px;
$tokens-space-18: 18px;
$tokens-space-20: 20px;
$tokens-space-22: 22px;
$tokens-space-24: 24px;
$tokens-space-28: 28px;