$color-base-white-dark: #ffffff;
$color-base-black-dark: #000000;
$color-gray-100-dark: #f4f4f4;
$color-gray-200-dark: #f9f9f9;
$color-gray-230-dark: #eaeff3;
$color-gray-240-dark: #d9d9d9;
$color-gray-250-dark: #eeeeee;
$color-gray-270-dark: #e7e7e7;
$color-gray-300-dark: #bebebe;
$color-gray-350-dark: #bcb1b1;
$color-gray-400-dark: #919191;
$color-gray-600-dark: #7c7c7c;
$color-gray-800-dark: #595959;
$color-red-600-dark: #f26767;
$color-red-800-dark: #ef2d07;
$color-blue-sky-100-dark: #f0f3f6;
$color-blue-sky-200-dark: #f0f2f5;
$color-blue-sky-250-dark: #d8e0e9;
$color-blue-sky-300-dark: #d9dbe1;
$color-blue-sky-400-dark: #d6dbdf;
$color-blue-sky-450-dark: #a8b8dc;
$color-blue-sky-500-dark: #859ebb;
$color-blue-sky-800-dark: #5d606a;
$color-blue-deep-100-dark: #d8e1f2;
$color-blue-deep-200-dark: #9aacd6;
$color-blue-deep-300-dark: #6a7fde;
$color-blue-deep-400-dark: #6a73c2;
$color-blue-deep-500-dark: #434a6a;
$color-blue-deep-600-dark: #4a53a1;
$color-blue-deep-800-dark: #172178;
$color-blue-200-dark: #d8f0f1;
$color-blue-500-dark: #3f81d3;
$color-purple-300-dark: #a7a1dd;
$color-pastel-blue-dark: #d8f0f1;
$color-pastel-green-dark: #e5f5ed;
$color-pastel-red-dark: #fce4e3;
$color-green-300-dark: #82d0af;
$color-green-400-dark: #1eb071;
$color-green-500-dark: #519d62;
$color-yellow-500-dark: #efaf42;

html[data-theme=dark] {
  --color-base-white: $color-base-white-dark;
  --color-base-black: $color-base-black-dark;
  --color-gray-100: $color-gray-100-dark;
  --color-gray-200: $color-gray-200-dark;
  --color-gray-230: $color-gray-230-dark;
  --color-gray-240: $color-gray-240-dark;
  --color-gray-250: $color-gray-250-dark;
  --color-gray-270: $color-gray-270-dark;
  --color-gray-300: $color-gray-300-dark;
  --color-gray-350: $color-gray-350-dark;
  --color-gray-400: $color-gray-400-dark;
  --color-gray-600: $color-gray-600-dark;
  --color-gray-800: $color-gray-800-dark;
  --color-red-600: $color-red-600-dark;
  --color-red-800: $color-red-800-dark;
  --color-blue-sky-100: $color-blue-sky-100-dark;
  --color-blue-sky-200: $color-blue-sky-200-dark;
  --color-blue-sky-250: $color-blue-sky-250-dark;
  --color-blue-sky-300: $color-blue-sky-300-dark;
  --color-blue-sky-400: $color-blue-sky-400-dark;
  --color-blue-sky-450: $color-blue-sky-450-dark;
  --color-blue-sky-500: $color-blue-sky-500-dark;
  --color-blue-sky-800: $color-blue-sky-800-dark;
  --color-blue-deep-100: $color-blue-deep-100-dark;
  --color-blue-deep-200: $color-blue-deep-200-dark;
  --color-blue-deep-300: $color-blue-deep-300-dark;
  --color-blue-deep-400: $color-blue-deep-400-dark;
  --color-blue-deep-500: $color-blue-deep-500-dark;
  --color-blue-deep-600: $color-blue-deep-600-dark;
  --color-blue-deep-800: $color-blue-deep-800-dark;
  --color-blue-200: $color-blue-200-dark;
  --color-blue-500: $color-blue-500-dark;
  --color-purple-300: $color-purple-300-dark;
  --color-pastel-blue: $color-pastel-blue-dark;
  --color-pastel-green: $color-pastel-green-dark;
  --color-pastel-red: $color-pastel-red-dark;
  --color-green-300: $color-green-300-dark;
  --color-green-400: $color-green-400-dark;
  --color-green-500: $color-green-500-dark;
  --color-yellow-500: $color-yellow-500-dark;
}