$color-base-white-light: #ffffff;
$color-base-black-light: #000000;
$color-gray-100-light: #f4f4f4;
$color-gray-200-light: #f9f9f9;
$color-gray-230-light: #eaeff3;
$color-gray-240-light: #d9d9d9;
$color-gray-250-light: #eeeeee;
$color-gray-270-light: #e7e7e7;
$color-gray-300-light: #bebebe;
$color-gray-350-light: #bcb1b1;
$color-gray-400-light: #919191;
$color-gray-600-light: #7c7c7c;
$color-gray-800-light: #595959;
$color-red-600-light: #f26767;
$color-red-800-light: #ef2d07;
$color-blue-sky-100-light: #f0f3f6;
$color-blue-sky-200-light: #f0f2f5;
$color-blue-sky-250-light: #d8e0e9;
$color-blue-sky-300-light: #d9dbe1;
$color-blue-sky-400-light: #d6dbdf;
$color-blue-sky-450-light: #a8b8dc;
$color-blue-sky-500-light: #859ebb;
$color-blue-sky-800-light: #5d606a;
$color-blue-deep-100-light: #d8e1f2;
$color-blue-deep-200-light: #9aacd6;
$color-blue-deep-300-light: #6a7fde;
$color-blue-deep-400-light: #6a73c2;
$color-blue-deep-500-light: #434a6a;
$color-blue-deep-600-light: #4a53a1;
$color-blue-deep-800-light: #172178;
$color-blue-200-light: #d8f0f1;
$color-blue-500-light: #3f81d3;
$color-purple-300-light: #a7a1dd;
$color-pastel-blue-light: #d8f0f1;
$color-pastel-green-light: #e5f5ed;
$color-pastel-red-light: #fce4e3;
$color-green-300-light: #82d0af;
$color-green-400-light: #1eb071;
$color-green-500-light: #519d62;
$color-yellow-500-light: #efaf42;

html[data-theme=light] {
  --color-base-white: $color-base-white-light;
  --color-base-black: $color-base-black-light;
  --color-gray-100: $color-gray-100-light;
  --color-gray-200: $color-gray-200-light;
  --color-gray-230: $color-gray-230-light;
  --color-gray-240: $color-gray-240-light;
  --color-gray-250: $color-gray-250-light;
  --color-gray-270: $color-gray-270-light;
  --color-gray-300: $color-gray-300-light;
  --color-gray-350: $color-gray-350-light;
  --color-gray-400: $color-gray-400-light;
  --color-gray-600: $color-gray-600-light;
  --color-gray-800: $color-gray-800-light;
  --color-red-600: $color-red-600-light;
  --color-red-800: $color-red-800-light;
  --color-blue-sky-100: $color-blue-sky-100-light;
  --color-blue-sky-200: $color-blue-sky-200-light;
  --color-blue-sky-250: $color-blue-sky-250-light;
  --color-blue-sky-300: $color-blue-sky-300-light;
  --color-blue-sky-400: $color-blue-sky-400-light;
  --color-blue-sky-450: $color-blue-sky-450-light;
  --color-blue-sky-500: $color-blue-sky-500-light;
  --color-blue-sky-800: $color-blue-sky-800-light;
  --color-blue-deep-100: $color-blue-deep-100-light;
  --color-blue-deep-200: $color-blue-deep-200-light;
  --color-blue-deep-300: $color-blue-deep-300-light;
  --color-blue-deep-400: $color-blue-deep-400-light;
  --color-blue-deep-500: $color-blue-deep-500-light;
  --color-blue-deep-600: $color-blue-deep-600-light;
  --color-blue-deep-800: $color-blue-deep-800-light;
  --color-blue-200: $color-blue-200-light;
  --color-blue-500: $color-blue-500-light;
  --color-purple-300: $color-purple-300-light;
  --color-pastel-blue: $color-pastel-blue-light;
  --color-pastel-green: $color-pastel-green-light;
  --color-pastel-red: $color-pastel-red-light;
  --color-green-300: $color-green-300-light;
  --color-green-400: $color-green-400-light;
  --color-green-500: $color-green-500-light;
  --color-yellow-500: $color-yellow-500-light;
}