$shadow-3: 3px 4px 3px 0 rgba(0,0,0,0.12);
$shadow-4: 3px 3px 4px 0 rgba(0,0,0,0.15);
$shadow-8: 0 4px 8px 3px --var(color-gray-300);
$shadow-400: 5px 5px 60px 0 #00000033;
$font-family-pretendard: Pretendard;
$border-1: 1px;
$border-2: 2px;
$border-4: 4px;
$border-5: 5px;
$border-none: 0;
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
$text-xs: 13px;
$text-sm: 14px;
$text-base: 16px;
$text-md: 18px;
$text-lg: 20px;
$text-xl: 24px;
$text-2xl: 28px;
$text-3xl: 32px;
$text-4xl: 40px;
$text-5xl: 48px;
$text-6xl: 60px;
$text-xs12: 12px;
$rounded-none: 0;
$rounded-xs-4: 4px;
$rounded-sm-5: 5px;
$rounded-base-8: 8px;
$rounded-md-16: 16px;
$rounded-lg-32: 32px;
$rounded-full: 360px;
$rounded-base-10: 10px;
$space-1: 1px;
$space-2: 2px;
$space-4: 4px;
$space-5: 5px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-14: 14px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-22: 22px;
$space-24: 24px;
$space-28: 28px;
$space-30: 30px;
$space-32: 32px;